.charts1 {
  display: flex;
  justify-content: flex-start;
}
/* 
#map-container {
  border: solid blue;
}

#total-medals {
  border: solid red;
} */

#medals-over-time {
  border: solid gold;
}

h1 {
  text-align: center;
}

div.tooltip {
  position: absolute;
  text-align: center;
  padding: 2px;
  background: white;
  border: solid black 1px;
  border-radius: 5px;
  pointer-events: none;
}
